.about-portrait-container {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 100px;
}

.about-portrait {
  flex: 1;
  max-width: 450px;
}

.about-title {
  position: absolute;
  height: min-content;
  width: 150px;
  top: 3%;
  left: 45%;
}

.about-leaf {
  position: absolute;
  top: -28%;
  left: 57.8%;
  max-width: 350px;
}

.about-points {
  position: absolute;
  top: 20%;
  left: 60%;
}

@media (max-width: 768px) {
  .about-title {
    position: absolute;
    height: min-content;
    width: 150px;
    top: 3%;
    left: 42%;
  }

  .about-leaf {
    position: absolute;
    top: -28%;
    left: 62%;
    max-width: 350px;
  }
}

@media (max-width: 578px) {
  .about-title {
    position: absolute;
    height: min-content;
    width: 150px;
    top: 3%;
    left: 39.5%;
  }
}