.carousel-wrapper-custom {
  display: flex;
  align-items: center;
  max-width: 700px;
}

.carousel-arrow {
  height: 70px;
  width: 50px;
  padding: 4px;
}

.carousel-custom {
  overflow: hidden;
  flex: 1;
  box-shadow: 10px 10px 24px 0px rgba(122, 122, 122, 0.8);
}

.inner-custom {
  white-space: nowrap;
  transition: transform 2s;
}

.carousel-item-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #fffff3;
  color: #fff;
  width: 100%;
  overflow-y: scroll;
}

.carousel-item-content {
  width: inherit;
  height: inherit;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.carousel-content-header {
  display: flex;
  width: inherit;
  max-height: 40px;
  justify-content: space-around;
}

.carousel-text {
  white-space: pre-line;
  font-size: 16px;
  padding: 10px;
}

@media (max-width: 768px) {
  .carousel-wrapper-custom {
    display: flex;
    align-items: center;
    width: 90vh;
  }
}

@media (max-width: 630px) {
  .carousel-wrapper-custom {
    display: flex;
    align-items: center;
    width: 70vh;
  }

  .carousel-arrow {
    display: none;
  }
}

@media (max-width: 470px) {
  .carousel-wrapper-custom {
    display: flex;
    align-items: center;
    width: 45vh;
  }

  .carousel-arrow {
    display: none;
  }
}