.title-events {
  position: absolute;
  height: min-content;
  top: 28%;
  left: 28%;
  transform: rotate(-25deg);
}

.title-events-img {
  max-width: 400px;
}

@media (max-width: 992px) {

  .title-events {
    position: absolute;
    height: min-content;
    top: 25%;
    left: 38%;
    transform: rotate(-25deg);
  }
}

@media (max-width: 768px) {

  .title-events {
    position: absolute;
    height: min-content;
    top: 30%;
    left: 35%;
    transform: rotate(-25deg);
  }
}

@media (max-width: 578px) {
  .title-events {
    position: absolute;
    height: min-content;
    top: 26%;
    left: 20%;
    transform: rotate(-25deg);
  }
}