.title-trailers {
  position: absolute;
  height: min-content;
  top: 39.5%;
  left: 33%;
  right: 0;
}

.img-trailers {
  max-width: 100vw;
  margin-right: 3rem;
}

@media (min-width: 578px) {
  .img-trailers {
    max-width: 550px;
  }

  .title-trailers {
    position: absolute;
    height: min-content;
    top: 39.5%;
    left: 45%;
    right: 0;
  }
}