body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffff3;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Caveat-Regular";
  src: local("Caveat-Regular"),
    url("./fonts/Caveat/Caveat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "EBGaramond";
  src: local("EBGaramond"),
    url("./fonts/EBGaramond/EBGaramond.ttf") format("truetype");
}

a {
  cursor: url(./assets/wizard-stick.png), auto;
}

.flex-1 {
  flex: 1
}