.page-container {
  width: 1250px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

@media (max-width: 1250px) {
  .page-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
}